<app-navbar></app-navbar>

<div class="heading">
  <h1>Welcome to Pouch</h1>
  <p>
    Get rid of the 100+ bookmarks, save urls, and have one sent to you every day. 
    <br>
    Pouch is your key to focused daily learning
  </p>
</div>

<md-card class="card">
   <md-card-title>Sign Up</md-card-title>   
   <md-card-content>
        <p>This is supporting text.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
   </md-card-content>
   <md-card-actions>
        <button md-button md-raised>Sign Up</button>
   </md-card-actions>
</md-card>

<md-card class="card">
   <md-card-title>Login</md-card-title>   
   <md-card-content>
        <p>This is supporting text.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
   </md-card-content>
   <md-card-actions>
        <button md-button md-raised>Login</button>
   </md-card-actions>
</md-card>